https://www.kaggle.com/cdc/national-health-and-nutrition-examination-survey

https://wwwn.cdc.gov/Nchs/Nhanes/Search/variablelist.aspx?Component=Examination&CycleBeginYear=2013

https://wwwn.cdc.gov/Nchs/Nhanes/Search/variablelist.aspx?Component=Dietary&CycleBeginYear=2013

https://wwwn.cdc.gov/Nchs/Nhanes/Search/variablelist.aspx?Component=Laboratory&CycleBeginYear=2013

31 MB

In [8]:
import pandas as pd
import numpy as np

In [9]:
df2 = pd.DataFrame(
     {
         "A": 1.0,
         "B": pd.Timestamp("20130102"),
         "C": pd.Series(1, index=list(range(4)), dtype="float32"),
         "D": np.array([3] * 4, dtype="int32"),
         "E": pd.Categorical(["test", "train", "test", "train"]),
         "F": "foo",
     }
 )
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [3]:
# medications = pd.read_csv('nhnes/medications.csv')
# labs = pd.read_csv('nhnes/labs.csv')
# examination = pd.read_csv('nhnes/examination.csv')
# diet = pd.read_csv('nhnes/diet.csv')
# demographic = pd.read_csv('nhnes/demographic.csv')
# questionnaire = pd.read_csv('nhnes/questionnaire.csv')

In [4]:
# medications.head()

In [5]:
# import ipywidgets as widgets
# import pandas as pd
# style = {'description_width': 'initial'}
# limit_case = widgets.IntSlider(
#     value=1000,
#     min=100,
#     max=5000,
#     step=1,
#     description='Max Number of Case:',
#     disabled=False,
#     style=style)

In [6]:
# def update_df_length(limit):
    
#     df = medications
#     df = df.iloc[0:limit, :]
    
#     print("Number of rows in the dataset that have been successfully loaded:"+str(len(df)))

In [7]:
# widgets.interactive(update_df_length, limit=limit_case)