https://wwwn.cdc.gov/nchs/nhanes/continuousnhanes/default.aspx?BeginYear=2017

NHANES 2017-2018

31 MB

In [1]:
import pandas as pd
import numpy as np

In [10]:
categories = ['Questionnaire', 'Laboratory', 'Examination', 'Demographics', 'Dietary']
base_url = 'https://wwwn.cdc.gov/Nchs/Nhanes/2017-2018/'

def read_data(cat):
    main_url = 'https://wwwn.cdc.gov/nchs/nhanes/search/datapage.aspx?Component=%s&CycleBeginYear=2017'%cat
    DF = pd.read_html(main_url, index_col=0)[0]
    DF['u']= DF['Data File'].str.split('Data').str[0].str.strip()+'.XPT'
    DF['size'] = DF['Data File'].str.split('-').str[1].str.strip(']').str.strip()
    DF['category'] = cat
    return DF[['category', 'u', 'size']]

In [11]:
frames = [read_data(cat) for cat in categories]

result = pd.concat(frames)

Extracted all the dataframes:

In [12]:
result

,category,u,size
Data File Name,,,
Acculturation,Questionnaire,ACQ_J.XPT,396.3 KB
Alcohol Use,Questionnaire,ALQ_J.XPT,434.4 KB
Audiometry,Questionnaire,AUQ_J.XPT,3.9 MB
Blood Pressure & Cholesterol,Questionnaire,BPQ_J.XPT,531.8 KB
Cardiovascular Health,Questionnaire,CDQ_J.XPT,518.7 KB
...,...,...,...
"Dietary Supplement Use 24-Hour - Individual Dietary Supplements, Second Day",Dietary,DS2IDS_J.XPT,3.2 MB
"Dietary Supplement Use 24-Hour - Total Dietary Supplements, First Day",Dietary,DS1TOT_J.XPT,3.3 MB
"Dietary Supplement Use 24-Hour - Total Dietary Supplements, Second Day",Dietary,DS2TOT_J.XPT,3.3 MB
Dietary Supplement Use 30-Day - Individual Dietary Supplements,Dietary,DSQIDS_J.XPT,8.5 MB
Dietary Supplement Use 30-Day - Total Dietary Supplements,Dietary,DSQTOT_J.XPT,2.8 MB

In [5]:
k='Alcohol Use'
u = result.loc[k]['u']
url = '%s%s'%(base_url, u)
df = pd.read_sas(url)
df

,SEQN,ALQ111,ALQ121,ALQ130,ALQ142,ALQ270,ALQ280,ALQ290,ALQ151,ALQ170
0,93705.0,1.0,7.000000e+00,1.0,5.397605e-79,NaN,NaN,NaN,2.0,5.000000e+00
1,93706.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,93708.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,93709.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,93711.0,1.0,5.000000e+00,1.0,5.397605e-79,NaN,NaN,NaN,2.0,5.397605e-79
...,...,...,...,...,...,...,...,...,...,...
5528,102949.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5529,102952.0,1.0,5.397605e-79,NaN,NaN,NaN,NaN,NaN,2.0,NaN
5530,102953.0,1.0,6.000000e+00,12.0,6.000000e+00,5.397605e-79,6.000000e+00,5.397605e-79,2.0,5.397605e-79
5531,102954.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5532,102956.0,1.0,8.000000e+00,2.0,1.000000e+01,5.397605e-79,5.397605e-79,NaN,2.0,5.397605e-79